




body {


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;


}




body.dark-theme {
    --text-color: #eee;
    --bkg-color: #181a1a;
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: rgb(20, 211, 195);
    background-image: url("https://funart.pro/uploads/posts/2021-12/1640256783_3-funart-pro-p-foni-dlya-saitov-3.jpg");
}

body {

    background: linear-gradient(#141e30, #243b55);
}


